.header-description {
    display: flex;
    flex-direction: column;
    gap: var(--un-spacing-lg);

    .filters{
        display:flex;
        gap: var(--un-spacing-lg);
    }
}

.table {
    background-color: var(--un-color-background);
    width: 100%;

    .header-row {
        .header-cell {
            >* {
                font-weight: var(--un-font-weight-bold);
            }
        }
    }
}

.url-action{
    width: 0;
    text-decoration: none;
    color: var(--un-color-text);

    &:hover {
        text-decoration:underline;
    }
}
