.actions{
    display:flex;
    justify-content: space-between;
}
.filters{
    display:flex;
    justify-content: space-between;

    .filters-container{
        display:flex;
        gap: var(--un-spacing-lg);
    }

    .filter-actions{
        display:flex;
    }
}
.table {
    background-color: var(--un-color-background);
    .header-row {
     
        .header-cell {
            >* {
                font-weight: var(--un-font-weight-bold);
            }
        }
    } 

    .note-column{
        max-width:15rem;
    }
} 
.url-action{
    width: 0;
    text-decoration: none;
    color: var(--un-color-text);

    &:hover {
        text-decoration:underline;
    }
}