* {
    box-sizing: border-box;
}

:root {
    --background-color: #ffffff;
    --text-color: #213547;

    --shadow-color: #646cffaa;

    --padding-small: 1.5em;
    --padding-medium: 2em;

}

html {
    @media screen {
        margin: 0;
        padding: 0;
        scrollbar-gutter: stable;
    }
}

body {
    display: flex;
    margin: 0;
    background-color: var(--background-color);
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    place-items: center;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    color: var(--text-color);
    font-family: 'Nunito', system-ui, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;

    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
}

ul, ol, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.25;
}

p {
    margin: 0;
}
